div .navbar-end a:hover {
  background-color: rgb(203 213 225);
}

.text-white {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 3);
}

.caption {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 4);
}

.about h1,
.portfolio h1,
.contact h1,
.service h1 {
  font-size: 26px;
}

.awesome {
  color: black;
}

.parallax-container {
  height: 280px;
}

.container .text {
  font-size: 4rem;
}

div .h2 {
  font-size: 25px;
}

.text-before:hover {
  color: rgb(226 232 240);
}

div .text-lg {
  font-size: 26px;
}

div .fa-solid {
  color: white;
  font-size: 2rem;
  padding-top: 2rem;
}
